[Unit]
Description=WBRS Sorting Webapp
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/sam/wbrsorting/target/release/wbrsorting /mnt/drobo/AutomationToCategorize /mnt/drobo/AutomationDest

[Install]
WantedBy=multi-user.target
