{% extends "base" %}

{% block content %}
{% if flash %}
    {% if flash_name == "error" %}
        <div class="alert alert-primary" role="alert">
        {% else %}
        <div class="alert alert-success" role="alert">
        {% endif %}
            {{ flash }}
        </div>
{% endif %}
<ul>
    {% for item in dirs %}
        <li>
            <a href="/{{item}}">{{item}}</a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}
